.stream-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1699px;
}

.stream-list {
    margin: 0;
    padding: 0;
    width: 1100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.stream__item {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.stream__item_right {
    justify-content: flex-end;
}

.stream__logo {
    height: 120px;
    width: 120px;
}

.stream__about-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.stream__title {
    margin: 0;
    font-family: Constantia, Times, serif;
    max-width: 613px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.stream__description {
    margin: 0;
    max-width: 643px;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #E31E25;
}

.stream-button__wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 707px;
    align-items: center;
}

.stream-button__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.stream-button__slogan {
    margin: 0;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.stream-button__disclamer {
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.stream-button {
    width: 248px;
    height: 57px;
    background-color: #EF7F1B;
    border: 0;
    border-radius: 50px;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stream-button:hover {
    background-color: white;
    color: #7081F9;
}

@media screen and (max-width: 426px) and (min-width: 320px) {
    .stream-section {
        display: flex;
        /* height: 90vh; */
        flex-direction: column;
        align-items: center;
        min-height: 1699px;
    }

    .stream-list {
        margin: 0;
        padding: 0;
        width: 1100px;
        max-width: 100%;
        /* max-height: 100%; */
        display: flex;
        flex-direction: column;
    }

    .stream__item {
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
    }

    .stream__about-wrap {
        display: flex;
        margin: 10px;
        flex-direction: column;
        /* margin-left: 15px; */
        justify-content: flex-end;
        /* margin-bottom: 10px; */
    }

    .stream__title {
        margin: 0;
        margin-bottom: 10px;
        font-family: Constantia, Times, serif;
        max-width: 613px;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: #000000;
        text-align: center;
    }

    .stream__description {
        margin: 0;
        max-width: 643px;
        font-family: Constantia, Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #E31E25;
        text-align: center;
    }

    .stream-button__wrap {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 707px;
        align-items: center;
    }

    .stream-button__text-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }

    .stream-button__slogan {
        margin: 0;
        font-family: Constantia, Times, serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: #000000;
        text-align: center;
        margin-bottom: 10px;
    }

    .stream-button__disclamer {
        margin: 0;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        margin-bottom: 10px;
    }

    .stream-button {
        width: 248px;
        height: 57px;
        background-color: #EF7F1B;
        border: 0;
        border-radius: 50px;
        font-family: Constantia, Times, serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: all 0.3s ease;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }
}