.header {
    max-width: 100vw;
    min-height: 823px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.header__sandwitch-menu {
    display: none;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 75px;
}



.header__menu {

    width: 100%;
    height: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    align-items: center;
    background-color: #EF7F1B;
    z-index: 999;
}

.header__logo {
    margin: 0;
    margin-left: 40px;
    width: 272px;
    height: 90px;
}

.header__navlinks {
    display: flex;
    margin: 0;
    margin-right: 30px;

}

.header__navlinks_item {
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    list-style-type: none;
    margin-left: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.header__navlinks_item:hover {
    color: #7081F9;
}

.header__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 293px;
    z-index: 2;
}

.header__title__one {
    margin: 0;
    padding: 0;
    margin-left: 4px;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: flex-start;
}

.header__title__two {
    margin: 0;
    padding: 0;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: flex-start;
}

.header__slogan {
    margin: 0;
    padding: 0;
    margin-right: -79px;
    font-family: Constantia, Times, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    align-self: flex-end;
}



.header__city {
    margin: 0;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}


.header__date {
    font-family: Constantia, Times, serif;
    margin: 0;
    margin-top: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.headear__hashtag {
    margin: 0;
    margin-top: 10px;
    font-family: Constantia, Times, serif;
}

.header__btn-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.header__btn-details {
    margin: 0;
    width: 135px;
    height: 38px;
    background-color: #FECC00;
    border-radius: 50px;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7E71B1;
    border: 2px solid #7081F9;
    transition: all 0.3s ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__btn-reg {
    margin: 0;
    margin-left: 18px;
    width: 135px;
    height: 38px;
    background-color: #EF7F1B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border-width: 0px;
    transition: all 0.3s ease;

}

.header__btn-reg:hover {
    background-color: white;
    color: #7081F9;
}

.header__btn-reg_header {
    margin: 0;

    width: 162px;
    height: 47px;
    background-color: #F7AA47;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border-width: 0px;
    transition: all 0.3s ease;
}

.header__btn-reg_header:hover {
    background-color: white;
    color: #7081F9;
}

.header__decor-img {
    width: 152px;
    height: 142.04px;
    position: absolute;
    top: 0px;
    right: -1px;
}



.header__btn-details:hover {
    background-color: white;
    color: #7081F9;
}

.header__page-decor-wrap {
    width: 100%;
    z-index: 1;
    margin-top: -300px;

}

.header__page-decor-image {
    width: 100%;
}

@media screen and (max-width: 769px) and (min-width: 420px) {
    .header__navlinks {
        display: none;
    }

    .header__sandwitch-menu {
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-right: 30px;
    }
}