.resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top: 50px;
    padding-bottom: 100px;
    border: 1px solid tan;
}

.resources__logo-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    min-width: 1100px;
    justify-content: center;

}

.resources__logo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 138px;
    justify-content: space-between;
}

.resources__logo-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.resources__logo {
    width: 270px;
    height: 96px;
}

.resources__logo-about {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

.resources__logo:hover {
    opacity: 70%;
    transition: 1s;
}