.resources {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resources__logo-list {
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 50px;
    width: 1194px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(122px, 1fr));
    gap: 70px;
    row-gap: 70px;
    justify-items: stretch;
    align-items: center;
}

.resources__logo-list_org {
    display: flex;
    padding: 0;
}


.resources__logo-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resources__logo-link {

    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 124px;
    justify-content: center;

}

.resources__logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.resources__logo-about {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

.resources__logo:hover {
    opacity: 60%;
    transition: 1s;
}

@media screen and (max-width: 431px) and (min-width: 320px) {
    .resources__logo-list {
        margin: 0;
        padding: 0;
        margin-top: 0px;
        margin-bottom: 50px;
        width: 1194px;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(122px, 1fr));
        gap: 70px;
        row-gap: 0px;
        justify-items: stretch;
        align-items: center;
    }

    .resources__logo-list_org {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .resources__logo-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resources__logo-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 167px;
        height: 111px;
        justify-content: center;
    }
}