.map {
    display: flex;
    min-height: 1053px;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
}

.map-wrap {
    margin: 0;
    margin-top: 25px;
    width: 1186px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}


.map__container {
    border-radius: 10px;
    max-width: 601px;
    max-height: 735px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.map__legend {
    display: flex;
    margin: 0;
    margin-left: 10px;
    padding: 10px 38px 10px 38px;
    max-width: 533px;
    min-height: 627px;
    background-color: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    flex-direction: column;
}

.map__legend-title {
    margin: 0;
    font-family: Constantia, Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.map__legend-place {
    margin: 0;
    font-family: Constantia, Times, serif;
    list-style-type: circle;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 5px;
}

@media screen and (max-width: 431px) and (min-width: 320px) {
    .map-wrap {
        margin: 0;
        margin-top: 25px;
        width: 1186px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
    }

    .map__container {
        border-radius: 10px;
        max-width: 320px;
        max-height: 400px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .map__legend {
        display: flex;
        margin: 0;
        margin-left: 0px;
        margin-top: 20px;
        padding: 30px;
        max-width: 320px;
        min-height: 627px;
        background-color: #FFFFFF;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        flex-direction: column;
    }

    .map__legend-title {
        margin: 0;
        font-family: Constantia, Times, serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        line-height: 20px;
        color: #000000;
        align-self: center;
        margin-bottom: 4px;
        margin-top: 10px;
    }

    .map__legend-place {
        margin: 0;
        font-family: Constantia, Times, serif;
        list-style-type: circle;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
}