.map {
    display: flex;
    height: 104vh;
    padding: 30px;
    border: 1px solid teal;
    flex-direction: column;
    align-items: center;
}

.map-wrap {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.map__container {
    padding: 50px;
}

.map__legend {
    margin: 0;
    padding: 20px;
    width: 400px;
    height: 533px;
    background-color: #d8d9dc;
    border-radius: 10px;
}

.map__legend-item {
    list-style-type: circle;
}

.map__iframe {}